@font-face{
 font-family:'digital-clock-font';
 src: url('digital-dream.regular.ttf');
}


body {
  text-align: center;
  margin-top: 200px; 
}

#timer {
 font-family: digital-clock-font;
 font-size: 50px;
 font-weight: 300;
}

button {
  width: 100px;
  height: 35px;
}

button:hover {
 cursor: pointer;
}